@keyframes inicioTitulo {
    0% {opacity: 100%;}
    25% {opacity:0%}
    50% {opacity:100%;}
    75% {opacity:0%;}
    100% {opacity:100%;}
}
@keyframes posicaoInicial1 {
    0% {opacity: 100%; top: 0%;}
    50% {opacity: 70%;}
    80% {opacity: 60%;}
    100% {opacity: 50%; top: 100%;}
}


@keyframes inicio1 {
    0% {opacity: 50%; top: 100; bottom: 0 ; left: 0; right: 0;}
    25% {opacity: 90%; top: 0; bottom: 0 ;left: 0; right:0;}
    50% {opacity: 90%; top: 0; bottom: 0 ;left: 0; right:0;}
    75% {opacity: 90%;top: 0; bottom: 0 ;left: 0; right: 0 ;}
    100% {opacity: 100%; top: 0%; bottom: 0 ; left: 0; right: 0 ;}
}
@keyframes inicio2 {
    0% {opacity: 50%; top: 100%; bottom: 0 ; left: 0; right: 0;}
    25% {opacity: 90%; top: 0; bottom: 0 ;left: 0; right:0;}
    50% {opacity: 90%; top: 0; bottom: 0 ;left: 0; right:0;}
    75% {opacity: 90%;top: 0; bottom: 0 ;left: 0; right: 0 ;}
    100% {opacity: 100%; top: 0%; bottom: 0 ; left: 0; right: 0 ;}
}

  

body{  
    background-color: #EEF6BF;
    display: flex;
    justify-content: center;
    

}

.corpo{
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100% ;   
    position: absolute;
    
   
  
}

.title-page{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    animation-name: inicioTitulo;
    animation-duration: 3s;

}

.cards{
    
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: calc(100% - 35px );
    height: 100%;
    flex-wrap: wrap;
    background-color: #75B79E;
    
    
}

.card{
    width: 147px;
    height: 183.17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    
    
}
.card img{
    width: 80px;
}

.block{
    pointer-events: none;
}
.tempoejogadas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 35px);
    
    background-color: lightpink;
    margin-bottom: 10px;
}
.time{
    width: 35px;
    height: 35px;display: flex;
    align-items: center;
    justify-content: center;

    
    border: 3px solid #e25614;  
    border-radius: 50%;
    background-color: #99CEA8;
    margin-right: 10px
    

}

.posicaoInicial1 {
    animation-name: posicaoInicial1;
    animation-duration: 3s;

}



.ini1{
    animation-name: inicio1;
    animation-duration: 0.8s;
    
    
}
.ini2{
    animation-name: inicio2;
    animation-duration: 0.8s;
    
}
.ini3{
    animation-name: inicio1;
    animation-duration: 0.8s;
}
.ini4{
    animation-name: inicio2;
    animation-duration: 0.8s;
}
.ini5{
    animation-name: inicio1;
    animation-duration: 0.8s;
}
.ini6{
    animation-name: inicio2;
    animation-duration: 0.8s;
    
}
.ini7{
    animation-name: inicio1;
    animation-duration: 0.8s;
}
.ini8{
    animation-name: inicio2;
    animation-duration: 0.8s;
}
.ini9{
    animation-name: inicio2;
    animation-duration: 0.8s;
}
.ini10{
    animation-name: inicio1;
    animation-duration: 0.8s;
}
.ini10{
    animation-name: inicio2;
    animation-duration: 0.8s;
}
.ini11{
    animation-name: inicio1;
    animation-duration: 0.8s;
}
.ini12{
    animation-name: inicio2;
    animation-duration: 0.8s;
}
.ini13{
    animation-name: inicio1;
    animation-duration: 0.8s;
}
.ini14{
    animation-name: inicio2;
    animation-duration: 0.8s;
}
@media (max-width: 470px){
    .cards{
        width:  100%;
        margin: 15px;

    }
    .corpo{
        margin-top: 25px;
    }

    .card{
        width: 250px;
        height: 311.51px;
    }
    .card img{
        width: 110px;
    }
    
}
