@keyframes inicioTitulo {
    0% {opacity: 100%;}
    25% {opacity:0%}
    50% {opacity:100%;}
    75% {opacity:0%;}
    100% {opacity:100%;}
}
@keyframes posicaoInicial1 {
    0% {opacity: 100%; top: 0%;}
    50% {opacity: 50%;}
    80% {opacity: 30%;}
    100% {opacity: 25%; top: 100%;}
}

@keyframes inicio1 {
    0% {opacity: 25%; top: 100%; bottom: 15%; left: 0; right: 0;}
    25% {opacity: 30%; top: 100%; bottom: 0 ;left: 15%; right:0;}
    50% {opacity: 50%; top: 100%; bottom: 0 ;left: 0; right:15%;}
    75% {opacity: 60%;top: 100%; bottom: 0 ;left: 15%; right: 0 ;}
    100% {opacity: 100%; top: 0%; bottom: 15% ; left: 0; right: 0 ;}
}
@keyframes inicio2 {
    0% {opacity: 25%; top: 100%; bottom: 0%; left: 0; right: 15%;}
    25% {opacity: 30%; top: 100%; bottom: 0 ;left: 15%; right:0;}
    50% {opacity: 50%; top: 100%; bottom: 15% ;left: 0; right:0;}
    75% {opacity: 60%;top: 100%; bottom: 0 ;left: 15%; right: 0 ;}
    100% {opacity: 100%; top: 0%; bottom:  0; left: 0; right: 15% ;}
}
@keyframes inicio3   {
    0% {opacity: 25%; top: 100%; bottom: 0%; left: 15%; right: 0;}
    25% {opacity: 30%; top: 100%; bottom: 15% ;left: 0; right:0;}
    50% {opacity: 50%; top: 100%; bottom: 0 ;left: 15%; right:0;}
    75% {opacity: 60%;top: 100%; bottom: 0 ;left: 15%; right: 15% ;}
    100% {opacity: 100%; top: 0%; bottom:  0; left: 0; right: 0 ;}
}

body{  
    background-color: #EEF6BF;
    display: flex;
    justify-content: center;
}

.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
}

.title-page{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    animation-name: inicioTitulo;
    animation-duration: 3s;

}

.cards{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 60%;
    flex-wrap: wrap;    
}

.card{
    width: 147px;
    height: 183.17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    position: relative;  
    
}
.card img{
    width: 80px;
}

.block{
    pointer-events: none;
}
.tempoejogadas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 35px);
    height: 20px;
    margin-bottom: 10px;
}
.time{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: darkred;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
.jogadas{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: darkred;
}

.posicaoInicial1 {
    animation-name: posicaoInicial1;
    animation-duration: 3s;
}
.ini1{
    animation-name: inicio1;
    animation-duration: 1s;  
}
.ini2{
    animation-name: inicio2;
    animation-duration: 1.5s;   
}
.ini3{
    animation-name: inicio3;
    animation-duration: 1s;
}
.ini4{
    animation-name: inicio2;
    animation-duration: 1.5s;
}
.ini5{
    animation-name: inicio1;
    animation-duration: 1s;
}
.ini6{
    animation-name: inicio3;
    animation-duration: 1.5s;  
}
.ini7{
    animation-name: inicio1;
    animation-duration: 1s;
}
.ini8{
    animation-name: inicio2;
    animation-duration: 1.5s;
}
.ini9{
    animation-name: inicio3;
    animation-duration: 1s;
}
.ini10{
    animation-name: inicio1;
    animation-duration: 1.5s;
}
.ini11{
    animation-name: inicio1;
    animation-duration: 1.5s;
}
.ini12{
    animation-name: inicio3;
    animation-duration: 1s;
}
.ini13{
    animation-name: inicio1;
    animation-duration: 1.5s;
}
.ini14{
    animation-name: inicio2;
    animation-duration: 1s;
}
@media (max-width: 470px){
  
    .cards{
        width:  100%;
        margin: 15px;

    }
    .corpo{
        margin-top: 25px;
    }

    .card{
        width: 250px;
        height: 311.51px;
    }
    .card img{
        width: 110px;
    }
    
}
